:root {
    --joorney-primary: #13213c;
    --joorney-primary-bg: #e5e5e5;
    --joorney-secondary: #fca311;
    --joorney-secondary-bg: #e5e5e5;
    --joorney-limited-secondary: #a75000;
    --joorney-odoo-primary: #714b67;
    --joorney-odoo-secondary: #017e84;
}

html,
body {
    margin: 0;
}

.joorney-body-background {
    background-image: url('/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#joorney-brand-debug {
    cursor: pointer;
}

.joorney-valign-middle {
    vertical-align: middle;
}

.joorney-bg-white {
    background-color: rgba(0, 0, 0, 0);
}

.joorney-font-icon-size {
    font-size: 1.2em;
}

.joorney-modified-input {
    background-color: #fffdaf !important;
}

.input-hide {
    display: none;
}

.feature-collapse-content {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.feature-collapse-toggle {
    cursor: pointer;
}

.feature-collapse-indicator {
    font-size: 18px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.feature-opened.feature-collapse-indicator {
    transform: rotate(180deg);
}

/* OVERRIDE */
.form-check-input[type='checkbox']:checked:focus,
.form-check-input[type='checkbox']:checked {
    background-color: var(--joorney-secondary);
}

.form-switch .form-check-input:checked[type='checkbox']:after {
    background-color: var(--joorney-secondary);
}
