:root {
    --joorney-primary: #13213c;
    --joorney-primary-bg: #e5e5e5;
    --joorney-secondary: #fca311;
    --joorney-secondary-bg: #e5e5e5;
    --joorney-limited-secondary: #a75000;
    --joorney-odoo-primary: #714b67;
}

html,
body {
    margin: 0;
}

.joorney-body-background {
    background-image: url('/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.joorney-valign-middle {
    vertical-align: middle;
}

.joorney-bg-white {
    background-color: rgba(0, 0, 0, 0);
}

.joorney-font-icon-size {
    font-size: 1.2em;
}

.joorney-modified-input {
    background-color: #fffdaf !important;
}

.input-hide {
    display: none;
}
