.ts-switch-label {
    display: inline-block;
    line-height: 34px;
    vertical-align: middle;
}

.ts-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.ts-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ts-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: linear-gradient(90deg, rgba(255, 154, 0, 1) 0%, rgba(255, 192, 0, 1) 100%);
}

input:checked + .ts-slider {
    background: linear-gradient(90deg, rgba(0, 11, 96, 1) 0%, rgba(0, 30, 112, 1) 100%);
}

input:indeterminate + .ts-slider {
    background: linear-gradient(90deg, rgb(154, 154, 154) 0%, rgb(200, 200, 200) 100%);
}

.ts-slider:before {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    color: goldenrod;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-size: 1rem;
    line-height: 26px;
    content: '\f185';
}

input:checked + .ts-slider:before {
    content: '\f186';
    background-color: #000;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:indeterminate + .ts-slider:before {
    content: '\3f';
    background-color: rgb(136, 136, 136);
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.ts-slider.ts-round {
    border-radius: 34px;
}

.ts-slider.ts-round:before {
    border-radius: 50%;
}
