#qol_origins_filter_table input[type='checkbox']:checked.qol_f_blacklist {
    background-color: red !important;
    border-color: darkred !important;
}

#qol_origins_filter_table input[type='checkbox']:checked.qol_f_whitelist {
    background-color: green !important;
    border-color: darkgreen !important;
}

#qol_origins_filter_table input[type='checkbox']:checked.qol_f_disable {
    background-color: gray !important;
    border-color: darkgrey !important;
}
