:root {
    --qol-primary: #13213c;
    --qol-primary-bg: #e5e5e5;
    --qol-secondary: #fca311;
    --qol-secondary-bg: #e5e5e5;
    --qol-limited-secondary: #a75000;
}

html,
body {
    margin: 0;
}

body {
    background-image: url('./assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
